<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>Dane osobowe</h4>
    <form name="form" (ngSubmit)="f.form.valid && createEmployee()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <label for="name">Imię</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
        <div *ngIf="f.submitted && !name.valid" class="help-block">Imię jest wymagane</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !surname.valid }">
        <label for="surname">Nazwisko</label>
        <input type="text" class="form-control" name="surname" [(ngModel)]="model.surname" #surname="ngModel" required />
        <div *ngIf="f.submitted && !surname.valid" class="help-block">Nazwisko jest wymagane</div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Zarejestruj</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>
  <div class="col-md-6 ">
    <h4>Dane logowania</h4>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !login.valid }">
      <label for="login">Nazwa użytkownika</label>
      <input type="text" class="form-control" name="login" [(ngModel)]="model.login" #login="ngModel" required />
      <div *ngIf="f.submitted && !login.valid" class="help-block">Nazwa użytkownika jest wymagana</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Hasło</label>
      <input type="text" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Hasło jest wymagane</div>
    </div>
  </div>
</div>
<section class="container-fluid">
  <section>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
        <th>Hasło</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of currentEmployees">
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.login}}</td>
        <td>{{employee.password}}</td>
        <td style="width:50px"></td>
      </tr>
      </tbody>
    </table>
  </section>
</section>

